<!doctype html>

<html>

	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='hash_style.css') }}">

   	<body>

   		<div class="hasher">

	   	<h2>Hashing and Cracking</h2>
	   	<p>
	   		Hash functions can map data of arbitrary size to data of a fixed size. (<a href="https://en.wikipedia.org/wiki/Hash_function">Hash functions in Wikipedia</a>) <br>
	   		The ones used in cryptography are usually non-invertible. <br> 
	   		This means that there is no easy way to reconstruct the original input. (<a href="https://en.wikipedia.org/wiki/One-way_function">One-way functions in Wikipedia</a>) <br>
	   		However, there is a hard way: we can try all possible inputs until we find one that matches the hash. (<a href="https://en.wikipedia.org/wiki/Brute-force_search">Brute-force search in Wikipedia</a>) <br><br>
	   		This simple app can do the following:<br>
	   		<ul>
	   			<li>Calculate the hash of an arbitrary input (key) using 6 different hash functions.</li>
	   			<li>"Brute force" the key from a given hash is key is maximum 4 characters long and only contains lower case letters of the English alphabet </li>
	   		</ul>
	   	</p>
		<h3>This is where you can hash a key: </h3>
		<form action="{{ url_for('hish_hash') }}" method="POST">
		 	<input type="text" name="source_string" size="128" value="">
		 	<br><br>
		 	<input type="submit" value="Hish-Hash!">
		</form> 

		<h3>Hashes will appear here: </h3>

		{% for hash in hashes %}

			<b> {{ hash["type"] }} : </b>
			{{ hash["digest"] }} <br>

		{% endfor %}

		</div>

   		<div class="cracker">

	   	<h2>The Dark Side</h2>
		<h3>This is where you can crack: </h3>
		<div>
			Remember, this app will only crack key if it's max 4 characters long.<br>
			You have to paste the hash and select the hash function that was used to generate the it.<br><br>
		</div>
		<form action="{{ url_for('crick_crack') }}" method="POST">

			<input type="radio" id="md5" name="hash_type" value="md5" checked="checked">
			<label for="md5" >MD5</label>
			<input type="radio" id="sha1" name="hash_type" value="sha1">
			<label for="sha1">SHA1</label>
			<input type="radio" id="sha224" name="hash_type" value="sha256">
			<label for="sha224">SHA224</label>
			<input type="radio" id="sha256" name="hash_type" value="sha224">
			<label for="sha256">SHA256</label>
			<input type="radio" id="sha384" name="hash_type" value="sha384">
			<label for="sha384">SHA384</label>
			<input type="radio" id="sha512" name="hash_type" value="sha512">
			<label for="sha512">SHA512</label>

			<br><br>
		 	<input type="text" name="target_hash" size="128" value="">
		 	<br><br>
		 	<input type="submit" value="Crick-Crack!">
		</form> 

		<h3>Cracked Key:</h3>
		{{ cracked }}
		<br><br>
		<i>Time needed (seconds): </i> {{ crack_time }}

		</div>
      
   	</body>
	
</html>